{% extends 'base.html' %}
{% load static %}

{% block title %}글 작성하기{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board_form.css' %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
                <div role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="field">
                <h3 class="write">종류</h3>
                <span class="box">
                    <select class="select_field">
                        <option value="reptiles">파충류</option>
                        <option value="birds">조류</option>
                    </select>
                </span>
            </div>

            <div class="first-con">
                <input type="text" class="board-title" name="title" id="title" autocomplete="off"
                       value="{{ form.title.value|default_if_none:'' }}" placeholder="이름">

                <div class="fileBox">
                    <input type="text" class="fileName" readonly="readonly">
                    <label for="image" class="btn_file"><img src="{% static 'img/image.png' %}" alt=""/></label>
                    <input type="file" id="image" value="{{ form.image.url|default_if_none:'' }}" name="image"
                           accept="image/*" class="uploadBtn">
                </div>
            </div>

            <textarea name="content" id="content" rows="7" autocomplete="off"
                      placeholder="파충류 또는 조류에 대한 내용을 적어주세요">{{ form.content.value|default_if_none:'' }}</textarea>

            <input type="date" class="board-date" name="end_date" id="end_date" autocomplete="off"
                   value="{{ form.end_date.value|default_if_none:'' }}" placeholder="봉사 날짜">

            <button type="submit" class="submit">등록</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var uploadFile = $('.fileBox .uploadBtn');
        uploadFile.on('change', function () {
            if (window.FileReader) {
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val().split('/').pop().split('\\').pop();
            }
            $(this).siblings('.fileName').val(filename);
        });

        $(document).ready(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;

            $('#end_date').attr('min', maxDate);
        });
    </script>
{% endblock %}