{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
{% endblock %}

{% block content %}
    <div class="mypage-con">
        <div class="user-profile">
            <!-- 유저 프로필 -->
            <img {% if person.image %} src="{{ person.image.url }}"
                                       {% else %}src="https://i.stack.imgur.com/34AD2.jpg"{% endif %}
                                       class="user-img" alt="">
            <a href="{% url 'rab:profile' %}">
                <button><i class="fas fa-pencil-alt"></i></button>
            </a>

            <div class="info-text">
                <h1>{{ person.user }}</h1>
                <h4>{{ person.user.email }}</h4>
                <h4>{% if person.nickname %}{{ person.nickname }}{% else %}닉네임이 없습니다.{% endif %}</h4>
                <h4>{% if person.description %}{{ person.description }}{% else %}한줄소개가
                    없습니다.{% endif %}</h4>
            </div>
        </div>

<!--        <div class="more-info">-->
<!--            <div class="info">-->
<!--                <h3>내가 신청한 봉사</h3>-->
<!--                <h4>{{ board_list.paginator.count }} 개</h4>-->
<!--            </div>-->
<!--            {% if board_list %}-->
<!--                <div class="board-con">-->
<!--                    {% for application in board_list %}-->
<!--                        {% if application.profile.user == request.user %}-->
<!--                            <a href="{% url 'rab:detail' application.board.id %}">-->
<!--                                <div class="board">-->
<!--                                    {% if board.image %}-->
<!--                                        <img src="{{ application.board.image.url }}" class="board-img" alt="">-->
<!--                                    {% else %}-->
<!--                                        <img src="{% static 'img/defaultImg.png' %}" class="board-img" alt="">-->
<!--                                    {% endif %}-->
<!--                                    <div class="board-info">-->
<!--                                        <span class="board-title">{{ application.board.title }}</span>-->
<!--                                        {% if today == application.board.end_date %}-->
<!--                                            <span class="end-date"-->
<!--                                                  style="color:red">{{ application.board.end_date }}</span>-->
<!--                                        {% else %}-->
<!--                                            <span class="end-date">{{ application.board.end_date }}</span>-->
<!--                                        {% endif %}-->
<!--                                    </div>-->
<!--                                    <div class="board-info second">-->
<!--                                        <span>{{ application.board.profile.nickname }}</span>-->
<!--                                        <div class="board-more-info">-->
<!--                                            <i class="fas fa-comment"></i>&nbsp;{{ application.board.comment_set.all.count }}&nbsp;&nbsp;-->
<!--                                            <i class="fas fa-address-book"></i>&nbsp;{{ application.board.application_set.all.count }}-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->

<!--                &lt;!&ndash; 페이징처리 시작 &ndash;&gt;-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    &lt;!&ndash; 이전페이지 &ndash;&gt;-->
<!--                    {% if board_list.has_previous %}-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ border_list.previous_page_number }}">이전</a>-->
<!--                        </li>-->
<!--                    {% else %}-->
<!--                        <li class="page-item disabled">-->
<!--                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>-->
<!--                        </li>-->
<!--                    {% endif %}-->

<!--                    &lt;!&ndash; 페이지리스트 &ndash;&gt;-->
<!--                    {% for page_number in board_list.paginator.page_range %}-->
<!--                        {% if page_number >= board_list.number|add:-4 and page_number <= board_list.number|add:4 %}-->
<!--                            {% if page_number == board_list.number %}-->
<!--                                <li class="page-item active" aria-current="page">-->
<!--                                    <a class="page-link" href="?page{{ page_number }}">{{ page_number }}</a>-->
<!--                                </li>-->
<!--                            {% else %}-->
<!--                                <li class="page-item">-->
<!--                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>-->
<!--                                </li>-->
<!--                            {% endif %}-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->

<!--                    &lt;!&ndash; 다음페이지 &ndash;&gt;-->
<!--                    {% if board_list.has_next %}-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ board_list.next_page_number }}">다음</a>-->
<!--                        </li>-->
<!--                    {% else %}-->
<!--                        <li class="page-item disabled">-->
<!--                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>-->
<!--                        </li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--            {% else %}-->
<!--&lt;!&ndash;                <div class="concon">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h3 style="font-weight: bold; margin-top: 30px;">아직 신청한 봉사가 없습니다. 서둘러 봉사에 참여해보세요 ! ✨</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="{% url 'rab:board' %}" class="btn-lg btn-wcreate"><i class="fas fa-plus"></i>&nbsp;&nbsp;봉사 참여하기</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            {% endif %}-->
<!--        </div>-->

    </div>
{% endblock %}