{% extends 'base.html' %}
{% load static %}

{% block title %}로그인{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="con">
        <video muted autoplay loop>
            <source src="{% static 'img/video5.mp4' %}" type="video/mp4"/>
        </video>
        <div class="background_box"></div>
        <div class="container">
            <div class="column">
                <img class="login-icon" src="{% static 'img/loginIcon.png' %}" alt="" />
                <h3>로그인</h3>
                <form method="post" class="post-form" action="{% url 'common:login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% include "form_errors.html" %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="아이디" autocomplete="off" name="username" id="username"
                               value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="비밀번호" autocomplete="off" name="password" id="password"
                               value="{{ form.password.value|default_if_none:'' }}">
                    </div>
                    <button type="submit" class="auth-btn">로그인</button>
                </form>
                <h6>또는 <a href="{% url 'common:signup' %}">회원가입</a></h6>
            </div>
            <div class="background_con"></div>
        </div>
    </div>

{% endblock %}