{% extends 'base.html' %}
{% load static %}

{% block title %}R.A.B{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="con">
<!--        <video muted autoplay loop>-->
<!--            <source src="{% static 'img/video5.mp4' %}" type="video/mp4"/>-->
<!--        </video>-->
        <img src="/static/img/main.jpg" alt="배경">
        <div class="background_box"></div>
        <div class="container">
            <div class="column">
<!--                <img class="login-icon" src="{% static 'img/loginIcon.png' %}" alt="" />-->
                <h3>Login</h3>
                <form method="post" class="post-form" action="{% url 'common:login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% include "form_errors.html" %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="id" autocomplete="off" name="username" id="username"
                               value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="password" autocomplete="off" name="password" id="password"
                               value="{{ form.password.value|default_if_none:'' }}">
                    </div>
                    <button type="submit" class="auth-btn">Login</button>
                </form>
                <h6> <a href="{% url 'common:signup' %}">Sign up</a></h6>
            </div>
            <div class="background_con"></div>
        </div>
    </div>

{% endblock %}