{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- 네비게이션바 -->
<nav class="nav">
    <a class="navbar-brand" href="{% url 'rab:index' %}"> <img src="{% static 'img/logo2.png' %}" alt=""/> </a>
    {% if user.is_authenticated %}
        <ul class="menu navbar">
<!--            <li class="nav-item">-->
<!--                <a href="{% url 'rab:intro' %}">R.A.B</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a href="{% url 'rab:board_reptiles' %}">파충류</a>   <!-- 봉사 신청 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'rab:board_birds' %}">조류</a>   <!-- 봉사 신청 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'rab:want_board_reptiles' %}">글 목록(파충류)</a>   <!-- 내가 쓴 글에 봉사 신청한 사람 목록 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'rab:want_board_birds' %}">글 목록(조류)</a>   <!-- 내가 쓴 글에 봉사 신청한 사람 목록 -->
            </li>
        </ul>
        <ul class="user navbar">
            <li class="nav-item">
                <a href="{% url 'rab:mypage' %}"><span>{{ user.username }}님</span></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a>
            </li>
        </ul>
    {% else %}
        <ul class="menu navbar">
<!--            <li class="nav-item">-->
<!--                <a href="{% url 'common:login' %}">R.A.B</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a href="{% url 'common:login' %}">파충류</a>   <!-- 봉사 신청 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'common:login' %}">조류</a>   <!-- 봉사 신청 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'common:login' %}">글 목록(파충류)</a>   <!-- 내가 쓴 글에 봉사 신청한 사람 목록 -->
            </li>
            <li class="nav-item">
                <a href="{% url 'common:login' %}">글 목록(조류)</a>   <!-- 내가 쓴 글에 봉사 신청한 사람 목록 -->
            </li>
        </ul>
        <ul class="user navbar">
            <li class="nav-item">
                <a class="nav-item" href="{% url 'common:login' %}">로그인</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-item" href="{% url 'common:signup' %}">회원가입</a>
            </li>
        </ul>
    {% endif %}
    {#    </div>#}
</nav>